services:
  web:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - POSTGRES_SERVER=db # will intercept the value from .env
      - POSTGRES_PORT=5432
    depends_on:
      db:
        condition: service_healthy
        restart: true
    volumes:
      - ./app:/web-backend/app
      - ./alembic:/web-backend/alembic
    command: uv run fastapi dev --host 0.0.0.0 --port 8000

  db:
    image: postgres:17
    env_file:
      - .env
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: